<div>
<div class='user-index'>
    <div class='colored-a'>
        <div class='user-div'>
            <div>
              <img src="<%= @user.photo %>">
            </div>
            <div class='name-and-post'>
                <p><%= @user.name %><p>
                <p>Number of posts: <%= @user.posts.count %><p>
            </div>
        </div>
    </div>
</div>

<%= link_to 'create new post', new_user_post_path %>

<% index = 1 %>
<% @posts.each do |post| %>
    
    <div class='post-div'>
        <span  class='post-number'>Post <%= index %></span>
        <a href="/users/<%= @user.id%>/posts/<%= post.id %>">
            <p>Title: <%= post.title %></p>
        </a>
            <p><%= post.text %></p>
        <div class='comments-likes-div'>
            <span>comments: <%= post.comments.count %>,</span>
            <span>likes: <%= post.likes.count %></span>
        </div>
       
        <% post.five_most_recent_comments.each do |comment| %>
            <span class='commentor'><%= comment.author.name %>: </span>
            <span><%= comment.text %></span><br>
        <% end %>
    </div>
    <% index = index + 1 %>
<% end %>
