

<% index = 1 %>
    <div class='post-div'>
        <span  class='post-number'>Post <%= index %>  by <%= @post.author.name %></span>
        <div class='comments-likes-div'>
            <span>comments: <%= @post.comments.count %>,</span>
            <span>likes: <%= @post.likes.count %></span>
        </div>
        <p><%= @post.title %></p>
       
        <% @post.comments.each do |comment| %>
            <span class='commentor'><%= comment.author.name %>: </span>
            <span><%= comment.text %></span><br>
        <% end %>
    </div>
<% index = index + 1 %>

<%= link_to 'Create comment', new_user_post_comment_path(@post.author, @post) %>
<%= render 'partials/likes' %>